<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Agritrace Scan - Login</title>
    <meta name="author" content="Themesberg">
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Pixel CSS -->
    <link type="text/css" rel="stylesheet" href="/static/css/pixel.css">
</head>

<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center bg-secondary">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="card card-tertiary w-100" style="max-width: 400px; margin: auto;">
                            <div class="card-header text-center">
                                <span>Sign in to Agritrace Scan</span>
                            </div>
                            <div class="card-body">
                                <form method="POST" action="/login" id="loginForm" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="email" class="mb-2">Email</label>
                                        <input name="username" type="email" class="form-control" placeholder="Your email"
                                            required />
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group">
                                            <label for="password" class="mb-2">Password</label>
                                            <input name="password" type="password" class="form-control"
                                                placeholder="Your password" required />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        document.getElementById('loginForm').onsubmit = async function (e) {
            e.preventDefault();
            let res = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    username: e.target.username.value,
                    password: e.target.password.value
                })
            });
            if (res.ok) {
                let data = await res.json();
                localStorage.setItem('token', data.token);
                console.log("Login thành công, token:", data.token);
                window.location.href = '/';
            } else {
                alert('Login thất bại');
            }
        };
    </script>

    <!-- Core -->
    <script src="/static/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- pixel JS -->
    <script src="/static/js/w95.js"></script>

</body>

</html>